$padding: .5rem .5rem .5rem 1.5rem;

@mixin flexDirection($direction, $gap: 1rem) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}


.main__based-field {
    @include flexDirection(column, 1rem);

    .header__based-field {
        @include flexDirection(row);
        align-items: center;
        justify-content: space-between;
    }
    
    .article__based-field {
        @include flexDirection(column, 0rem);

        .container__formula-item {
        
            .block-formula {
                .block-formula__condition {
                    padding: $padding;
                    .formula-collapsible {
                        @include flexDirection(column, .2rem);
                        .formula-collapsible__action {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-direction: row;
                        }
                        .content-condition {
                            padding: $padding;
                            @include flexDirection(column);
                            .condition {
                                @include flexDirection(row);
                                align-items: end;
                            }
                        }
                    }
                }
            }
        }
    }
}
