@mixin flexDirection($direction, $gap: 1rem) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

$surface: #8e918f;

.inputs-list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .aside-buttons > .list-unstyled {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around
    }
    .inputs-list__section {
       @include flexDirection(column, 1rem);

       .block-configuration  {
            padding: 1rem;
            border-radius: var(--border-radius-base);
       }
    }
    margin: .5rem 0rem;

    @media screen and (min-height: 850px) {

        .inputs-list__section > .block-configuration > .content-flex {
            @include flexDirection(row, 1rem);

            &__input {
                @include flexDirection(column, 1rem);
            }
        }
    }
}

    .content-flex {
        @include flexDirection(column, 1rem);

        .pui-input > input {
            background-color: var(--background);
        }

        .pui-input-select > select {
            background-color: var(--background);
        }

        .pui-textarea > textarea {
            background-color: var(--background);
        }
    } 
